body{
    /*
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThycbqu60sMmh7gyW6-RKWXHqDw-lhLeeKQg&usqp=CAU);
    background-size: cover;
    */
    background: linear-gradient(68.15deg, rgb(20, 18, 18) 16.62%, #8e5d52 85.61%) no-repeat;
    animation: gradient 10s ease infinite;
    display: flex;
    background-size: 300% 300%;
}

@keyframes gradient{
    0%{
        background-position: 0 50% ;
    }
    50%{
        background-position: 100% 50% ;
    }
    100%{
        background-position: 0 50% ;
    }
}

.menu{
    background-color: rgb(221, 200, 200);
    width: 300px;
    margin: 150px auto;
    height: 380px ;
    padding: 75px;
    border-radius: 10px;
}

.titulo h1{
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    
}

.form{
  margin-top: 17px;
   
}

.form input{
    display: flex;
    justify-content: center;
    border-radius: 7px;
    width: 300px;
}

label{
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

.botao{
    margin-top: 20px;
    padding-top:10px;
    text-align: center;
    
    
}

.botao button{
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: yellowgreen;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#menu.animar{
    
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animation{
    from{
        
    }
    to{
        
    }
}

