
*{
    margin: 0;
    padding: 0;
}

html{
 background-color: black;
  font-size: 62,5%;
  
}

img{
    width: 250px;
    max-width: 500px;
  
}


.container{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aquamarine;
    max-width: 1200px;
    min-width: 250px;
   

}

.container-1{
    
    margin: auto;
    width: 100%;
    
    display: flex;
    height: 100px;
}


nav {
    
    background-color: red;
  
    display: flex;
}

.menu-section{
    background-color: red;
    display: flex;
}


.logo{
    margin: auto;
    width: 150px;
    height: 80px;
    
}

.menu{
    margin: auto;
    
}

.menu a{
    margin: 15px;

}   

.inicio{
 
  
  margin: auto;
  max-width: 1400px;
  min-width: 250px;
  background-color: wheat;
  height: 100vh;
    
}

.cards{
    height: 500px;
    padding: 20px;
    margin: auto;

   
  

    
}

.inicio, .cards{
    
    margin: auto;
   
    display: flex;
    max-width: 1200px;
    min-width: 250px;
}


.texto{
   
    width: 600px;
    min-width: 250px;
    
    
    font-size: 1rem;
}

.texto h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
}

.texto, .imagem-inicio{
    margin: auto;
    max-width: 250px;
    max-height: 400px;
    font-size: 12px;
    margin-right: 25px;
}

h2{
    margin-top: 50px;
    
}

.imagem-inicio{
    width: 600px;
    min-width: 250px;
    
}

@media (max-width: 768px){
    .inicio, .cards{
        font-size: 20%;
        flex-direction: column;
        text-align: center;
    }
    .html{
        font-size: 20px;
    }
    .texto, .imagem-inicio{
        margin-top: 20px;
    }
    
}

@media (max-width: 600px){
   html{
       font-size: 50%;
   }
   .texto, .imagem-inicio{
    margin-top: 20px;
    }


}

@media (max-width: 540px){
    .nav{
        display: none;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    .one,
    .two,
    .three{
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
    }

    .menu-section.on{

    }
}

@media (max-width: 450px){
    
    .texto, .imagem-inicio{
        margin-top: 20px;
    }
    
 
}

