
*{
    margin: 0;
    padding: 0;
}

html{
 background-color: black;
  font-size: 62,5%;
  
}

img{
    width: 250px;
    max-width: 500px;
  
}


.container{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    max-width: 1200px;
    min-width: 250px;
   

}

.container-1{
    
    margin: auto;
    width: 100%;
    background-color: red;
    display: flex;
    height: 100px;
}





.logo{
    margin: auto;
    width: 150px;
    height: 80px;
    background-color: green;
}

.menu{
    margin: auto;
    background-color: aliceblue;
}

.menu a{
    margin: 15px;

}   

.inicio{
 
  
  margin: auto;
  max-width: 1400px;
  min-width: 250px;
  background-color: grey;
  height: 100vh;
    
}

.cards{
    height: 500px;
    padding: 20px;
    margin: auto;

   max-width: 250px;
   background-color: rgb(16, 86, 99);

    
}

.inicio, .cards{
    
    margin: auto;
   
    display: flex;
    max-width: 1200px;
    min-width: 250px;
}


.texto{
    background-color: yellow;
    width: 600px;
    min-width: 250px;
    
    
    font-size: 1rem;
}

.texto, .imagem-inicio{
    margin: auto;
    max-width: 250px;
    max-height: 200px;
}

h2{
    margin-top: 50px;
    
}

.imagem-inicio{
    width: 600px;
    min-width: 250px;
    background-color: brown;
}

@media (max-width: 768px){
    .inicio, .cards{
        font-size: 20px;
        flex-direction: column;
        text-align: center;
    }
    .html{
        font-size: 20px;
    }
}

@media (max-width: 600px){
   html{
       font-size: 50%;
   }
    

}

@media (max-width: 450px){
    .inicio{
        background-color: aliceblue;
    }
     
 
}

