*{
    margin: 0;
    padding: 0;
}

body{
  
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThycbqu60sMmh7gyW6-RKWXHqDw-lhLeeKQg&usqp=CAU);
  background-size: cover;
    /*
    height: 100%;
    background-color: rgb(70, 184, 167);
    background-color: linear-gradient(
      22deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 0.6) 100% 
    );
    */
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
.container{
  width: 100%;
  position: fixed;
  padding: 25px;
  background: linear-gradient(68.15deg, lightgrey 16.62%, #8e5d52 85.61%);


}
  
.logo h1{
  padding: 10px 20px;
  border: 2px solid;
  font-variant: small-caps;
  text-align: center;
  color: black;
  font-size: 30px;
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  margin-top: 24px;
  margin-left: 20px;
  
    
}
  
.menu a{
  padding: 10px;
  border-radius: 1cm;
  float: right;
  text-align: center;
  background-color: grey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  width: 80px;
  height: 25px;
  
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: black;
  justify-content: center;
    
    
    
}
  
.menu{
    
  
  padding-bottom: 70px;
  margin-right: 100px;
    
    
}

img {
  margin-left: 70px;
  border: 10px solid grey;
   border-radius: 1cm;
   
    max-width: 100%;
    max-height: 100%;
  }
.imagem {
    height: 100px;
    width: 100px;
}
.inicio{
  padding: 8cm;
  
}

.inicio h1{
  padding: 30px;
 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}

.botoes{
   
  
  display: flex;
  justify-content: center;
  margin: 30px auto;
  
}

.botoes a{
  
  text-transform: uppercase;
  padding: 20px;
  border-radius: 1cm;
  background-color: gray;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin: 40px;
  margin-right: 43px;
}


.botoes a:hover{
  
  animation-fill-mode: both;
  animation-duration: 2s;
  color: white;
  animation-name: animation;
  transform: translateX(10px);
}

@keyframes animation{
  from{
    opacity: 2;
  }
  to{
    opacity: 0.5;

  }
}

.menu-final{
  background-color: black;
  
  padding: 26px ;
  
}

.redes{
  width: 150px;
  height: 200px;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 45%;
  
 
}

.redes h1{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 30px;
  
  margin-top: 70px;
  color: yellowgreen;
}

.redes a{
  
  margin: 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
 
  
}
.sobre{
  
  margin: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 70px;
  
}
.sobre h1{
 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
}



.desenho{
  
  width: 100vw;
  height: 68vh;
  background: lightseagreen;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desenho1{
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: bolas 2s ease alternate infinite;
  animation-delay:
}

.desenho1:hover{
   background-color: black;
   
   
}
.desenho2:hover{
  background-color: white;
  
}

.desenho2{
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: blue;
  margin-left: 50px;
 animation: bolas 2s ease alternate infinite;
  animation-delay: 1s;
  
}
.desenho3{
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: yellow;
  margin-left: 50px;
  animation: bolas 2s ease alternate infinite;
  animation-delay: 2s;
  
}
.desenho3:hover{
  background-color: lightgrey;
  
}


@keyframes bolas{
  to{
    transform: translateY(37px)
    
  }
  
}

